<head>
    <link rel=stylesheet href=/static/style.css type=text/css>
</head>
<body>
    <script type="text/javascript" src="https://rawgithub.com/hiddentao/google-tts/master/google-tts.min.js"></script>

    <div id="audio"></div>


    <script src="static/face.js"></script>


    <div class="container">
    <img
        class="eyes"
        src="/static/face/eyes-angry-0.svg"
         height="300px"
         width="300px"
    >

    <img src="/static/face/nose.svg"
         height="300px"
         width="300px"
    >

    <img src="/static/face/mouth-dead-0.svg"
         height="300px"
         width="300px"
    >

    </div>

</body>
