<head>
    <link rel=stylesheet href=/static/style.css type=text/css>
</head>
<body>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <!-- <script type="text/javascript" src="https://rawgithub.com/hiddentao/google-tts/master/google-tts.min.js"></script>
       -->

    <script src="static/face.js"></script>
    <div id="audio"></div>


    <div class="container">
        <img
            class="eyes"
            src="/static/face/eyes-angry-0.svg"
        >
        <img src="/static/face/nose.svg"
        >

        <img src="/static/face/mouth-dead-0.svg"
        >
    </div>

</body>
