<head>
    <link rel=stylesheet href=/static/style.css type=text/css>
    <script defer src="static/admin.js"></script>
</head>
<body>
    this is the admin page

    <div>
        <label>eyes</label>
        <button>open</button>
        <button>close</button>
        <button>blink</button>
    </div>

    <div>
        <label>mouth</label>
        <button>open</button>
        <button>close</button>
    </div>


    <div>
        <label>emotion</label>
            <button>angry</button>
            <button>happy</button>
    </div>


    <textarea>

    </textarea>
</body>
